In [6]:
from dotenv import load_dotenv
import os
import pandas as pd
import json

In [7]:
# Memuat variabel lingkungan dari file .env
load_dotenv()

# Mengakses variabel lingkungan yang diatur dalam file .env
project_path = os.getenv("PROJECT_FOLDER")
dataset_folder = 'data/raw_data/trip_advisor'

In [8]:
# List of dataset files
files = [
    f"{project_path}/{dataset_folder}/json/balikpapan_restaurant.json",
    f"{project_path}/{dataset_folder}/json/berau_restaurant.json",
    f"{project_path}/{dataset_folder}/json/bontang_restaurant.json",
    f"{project_path}/{dataset_folder}/json/kutai_restaurant.json",
    f"{project_path}/{dataset_folder}/json/samarinda_restaurant.json",
]

# Read and concatenate all datasets into a single DataFrame
dfs = []
for file in files:
    with open(file, encoding='utf-8') as json_file:
        data = json.load(json_file)
        df = pd.DataFrame(data)
        dfs.append(df)

df = pd.concat(dfs)

In [9]:
df.shape

(238, 27)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 238 entries, 0 to 99
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   238 non-null    object
 1   type                 238 non-null    object
 2   name                 238 non-null    object
 3   image                207 non-null    object
 4   awards               238 non-null    object
 5   rankingPosition      230 non-null    object
 6   priceLevel           145 non-null    object
 7   category             230 non-null    object
 8   rating               230 non-null    float64
 9   isClosed             238 non-null    bool
 10  isLongClosed         238 non-null    bool
 11  phone                176 non-null    object
 12  address              238 non-null    object
 13  email                45 non-null     object
 14  cuisine              238 non-null    object
 15  mealTypes            238 non-null    object
 16  dietaryRestrictions  238 non-null    object
 17  hours                238 non-null    object
 18  latitude             221 non-null    object
 19  longitude            221 non-null    object
 20  webUrl               238 non-null    object
 21  website              94 non-null     object
 22  rankingDenominator   230 non-null    object
 23  rankingString        230 non-null    object
 24  numberOfReviews      238 non-null    int64
 25  reviews              238 non-null    object
 26  reviewTags           238 non-null    object
dtypes: bool(2), float64(1), int64(1), object(23)
memory usage: 48.8+ KB

In [11]:
df.head()

,id,type,name,image,awards,rankingPosition,priceLevel,category,rating,isClosed,...,hours,latitude,longitude,webUrl,website,rankingDenominator,rankingString,numberOfReviews,reviews,reviewTags
0,6871098,RESTAURANT,"Sky Bar, Gran Senyiur Hotel",https://media-cdn.tripadvisor.com/media/photo-...,[],10,$$$$,restaurant,4.0,False,...,"[[{'open': 960, 'close': 1440}], [{'open': 960...",-1.273225,116.83338,https://www.tripadvisor.com/Restaurant_Review-...,http://gran.senyiurhotels.com/restaurants/sky-...,185,#10 of 245 Restaurants in Balikpapan,57,"[{'id': '657907915', 'lang': 'en', 'location_i...",[]
1,5512802,RESTAURANT,Open House,https://media-cdn.tripadvisor.com/media/photo-...,[],6,$$ - $$$,restaurant,4.0,False,...,"[[{'open': 660, 'close': 1380}], [{'open': 660...",-1.270107,116.85023,https://www.tripadvisor.com/Restaurant_Review-...,http://www.mesraresto.com/open-house,185,#6 of 245 Restaurants in Balikpapan,114,"[{'id': '868014989', 'lang': 'en', 'location_i...","[{'text': 'beautiful place', 'review_count': 4..."
2,3656677,RESTAURANT,Dandito,https://media-cdn.tripadvisor.com/media/photo-...,[],2,$$ - $$$,restaurant,4.0,False,...,"[[{'open': 360, 'close': 1320}], [{'open': 360...",-1.267871,116.880775,https://www.tripadvisor.com/Restaurant_Review-...,http://www.danditorestaurant.com,185,#2 of 245 Restaurants in Balikpapan,531,"[{'id': '859415202', 'lang': 'en', 'location_i...","[{'text': 'crab', 'review_count': 125}, {'text..."
3,1076358,RESTAURANT,Bondy Restaurant,https://media-cdn.tripadvisor.com/media/photo-...,[],5,$$ - $$$,restaurant,4.0,False,...,[],-1.273471,116.83863,https://www.tripadvisor.com/Restaurant_Review-...,http://www.facebook.com/Bondyseafood/,185,#5 of 245 Restaurants in Balikpapan,141,"[{'id': '884078454', 'lang': 'en', 'location_i...","[{'text': 'fresh fish', 'review_count': 2}]"
4,8858596,RESTAURANT,Soto Banjar Kuin Abdhu,https://media-cdn.tripadvisor.com/media/photo-...,[],8,$,restaurant,4.0,False,...,[],-1.26875,116.83731,https://www.tripadvisor.com/Restaurant_Review-...,None,185,#8 of 245 Restaurants in Balikpapan,39,"[{'id': '784305632', 'lang': 'en', 'location_i...",[]

In [15]:
# Create a new dataframe with selected columns
new_df = df[['id', 'name', 'cuisine', 'image', 'rating', 'address', 'latitude', 'longitude', 'phone', 'website', 'hours']]

In [18]:
# Rename the columns to match the desired names
new_df.columns = ['original_id', 'restaurant_name', 'cuisine', 'image', 'rating', 'address', 'latitude', 'longitude', 'contact_number', 'website', 'opening_hours']

In [19]:
# Extract the city from the address column
new_df['city'] = new_df['address'].apply(lambda x: x.split(',')[-1].strip() if not x.split(',')[-1].strip().isdigit() else x.split(',')[-2].strip())
new_df['city'] = new_df['city'].apply(lambda x: x.split(' ')[0])

C:\Users\HP\AppData\Local\Temp\ipykernel_1900\4187621672.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['city'] = new_df['address'].apply(lambda x: x.split(',')[-1].strip() if not x.split(',')[-1].strip().isdigit() else x.split(',')[-2].strip())
C:\Users\HP\AppData\Local\Temp\ipykernel_1900\4187621672.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['city'] = new_df['city'].apply(lambda x: x.split(' ')[0])

In [20]:
# Set min_price and max_price columns to 0
new_df['min_price'] = 0
new_df['max_price'] = 0

C:\Users\HP\AppData\Local\Temp\ipykernel_1900\1635972983.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['min_price'] = 0
C:\Users\HP\AppData\Local\Temp\ipykernel_1900\1635972983.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['max_price'] = 0

In [21]:
# Display the new dataframe
new_df.head()

,original_id,restaurant_name,cuisine,image,rating,address,latitude,longitude,contact_number,website,opening_hours,city,min_price,max_price
0,6871098,"Sky Bar, Gran Senyiur Hotel",[Pub],https://media-cdn.tripadvisor.com/media/photo-...,4.0,"Jln. H ARS. Muhammad 7 Gran Senyiur Hotel, 8th...",-1.273225,116.83338,+62 542 820211,http://gran.senyiurhotels.com/restaurants/sky-...,"[[{'open': 960, 'close': 1440}], [{'open': 960...",Balikpapan,0,0
1,5512802,Open House,"[International, Mediterranean, Asian, Indonesi...",https://media-cdn.tripadvisor.com/media/photo-...,4.0,"Kelurahan Damai Jln. Puncak Marconi Indah 88, ...",-1.270107,116.85023,+62 542 744823,http://www.mesraresto.com/open-house,"[[{'open': 660, 'close': 1380}], [{'open': 660...",Balikpapan,0,0
2,3656677,Dandito,"[Seafood, Asian, Indonesian, Halal]",https://media-cdn.tripadvisor.com/media/photo-...,4.0,"Jl. Marsma Iswahyadi no. 71, Balikpapan 76114 ...",-1.267871,116.880775,+62 542 764367,http://www.danditorestaurant.com,"[[{'open': 360, 'close': 1320}], [{'open': 360...",Balikpapan,0,0
3,1076358,Bondy Restaurant,"[Seafood, Asian, Indonesian, Vegetarian Friendly]",https://media-cdn.tripadvisor.com/media/photo-...,4.0,"Jl. Jenderal Ahmad Yani No. 1 Klandasan Ilir, ...",-1.273471,116.83863,+62 542 411150,http://www.facebook.com/Bondyseafood/,[],Balikpapan,0,0
4,8858596,Soto Banjar Kuin Abdhu,"[Indonesian, Asian, Soups, Halal]",https://media-cdn.tripadvisor.com/media/photo-...,4.0,Jl. Jenderal Ahmad Yani No. 01 Gunungsari Ilir...,-1.26875,116.83731,+62 542 410954,None,[],Balikpapan,0,0

In [22]:
# Reset the index of the new dataframe
new_df.reset_index(drop=True, inplace=True)

In [23]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   original_id      238 non-null    object
 1   restaurant_name  238 non-null    object
 2   cuisine          238 non-null    object
 3   image            207 non-null    object
 4   rating           230 non-null    float64
 5   address          238 non-null    object
 6   latitude         221 non-null    object
 7   longitude        221 non-null    object
 8   contact_number   176 non-null    object
 9   website          94 non-null     object
 10  opening_hours    238 non-null    object
 11  city             238 non-null    object
 12  min_price        238 non-null    int64
 13  max_price        238 non-null    int64
dtypes: float64(1), int64(2), object(11)
memory usage: 26.2+ KB

In [24]:
# Drop rows with null values in latitude or longitude columns
new_df = new_df.dropna(subset=['latitude', 'longitude'])

In [25]:
# Calculate the average rating
average_rating = new_df['rating'].mean()

# Replace null values with the average rating
new_df['rating'].fillna(average_rating, inplace=True)

In [29]:
# Check if the cuisine column contains an empty list
empty_cuisine_mask = new_df['cuisine'].apply(lambda x: len(x) == 0)

# Update the cuisine column with a specific value where it contains an empty list
new_df.loc[empty_cuisine_mask, 'cuisine'] = 'Indonesian'

In [32]:
# Update values in the 'city' column
new_df.loc[new_df['city'] == 'Tanjung', 'city'] = 'Penajam'
new_df.loc[new_df['city'] == 'Kutai', 'city'] = 'Kutai Kertanegara'

In [33]:
# Print the unique categories in the 'city' column
categories = new_df['city'].unique()
print(categories)

['Balikpapan' 'Berau' 'Penajam' 'Bontang' 'Kutai Kertanegara' 'Samarinda']

In [38]:
new_df.describe()

           rating  min_price  max_price
count  221.000000      221.0      221.0
mean     4.109302        0.0        0.0
std      0.419314        0.0        0.0
min      3.000000        0.0        0.0
25%      4.000000        0.0        0.0
50%      4.000000        0.0        0.0
75%      4.500000        0.0        0.0
max      5.000000        0.0        0.0

In [34]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 221 entries, 0 to 237
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   original_id      221 non-null    object
 1   restaurant_name  221 non-null    object
 2   cuisine          221 non-null    object
 3   image            196 non-null    object
 4   rating           221 non-null    float64
 5   address          221 non-null    object
 6   latitude         221 non-null    object
 7   longitude        221 non-null    object
 8   contact_number   165 non-null    object
 9   website          94 non-null     object
 10  opening_hours    221 non-null    object
 11  city             221 non-null    object
 12  min_price        221 non-null    int64
 13  max_price        221 non-null    int64
dtypes: float64(1), int64(2), object(11)
memory usage: 25.9+ KB

In [37]:
new_df.to_json(f"{project_path}/data/processed_data/json/restaurant.json", orient='records')