In [1]:
from dotenv import load_dotenv
import os
import pandas as pd
import json

In [2]:
# Memuat variabel lingkungan dari file .env
load_dotenv()

# Mengakses variabel lingkungan yang diatur dalam file .env
project_path = os.getenv("PROJECT_FOLDER")
dataset_folder = 'data/raw_data/trip_advisor'

In [3]:
# List of dataset files
files = [
    f"{project_path}/{dataset_folder}/json/balikpapan_todo.json",
    f"{project_path}/{dataset_folder}/json/berau_todo.json",
    f"{project_path}/{dataset_folder}/json/bontang_todo.json",
    f"{project_path}/{dataset_folder}/json/kutai_todo.json",
    f"{project_path}/{dataset_folder}/json/paser_todo.json",
    f"{project_path}/{dataset_folder}/json/penajam_todo.json",
    f"{project_path}/{dataset_folder}/json/samarinda_todo.json",
]

# Read and concatenate all datasets into a single DataFrame
dfs = []
for file in files:
    with open(file, encoding='utf-8') as json_file:
        data = json.load(json_file)
        df = pd.DataFrame(data)
        dfs.append(df)

df = pd.concat(dfs)

In [7]:
df.shape

(142, 56)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, 0 to 36
Data columns (total 56 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   type                                       142 non-null    object
 1   image                                      124 non-null    object
 2   location_id                                142 non-null    object
 3   name                                       142 non-null    object
 4   latitude                                   98 non-null     object
 5   longitude                                  98 non-null     object
 6   num_reviews                                142 non-null    object
 7   timezone                                   142 non-null    object
 8   location_string                            142 non-null    object
 9   photo                                      125 non-null    object
 10  api_detail_url                             142 non-null    object
 11  awards                                     142 non-null    object
 12  location_subtype                           142 non-null    object
 13  doubleclick_zone                           142 non-null    object
 14  preferred_map_engine                       142 non-null    object
 15  raw_ranking                                121 non-null    object
 16  ranking_geo                                121 non-null    object
 17  ranking_geo_id                             121 non-null    object
 18  ranking_position                           121 non-null    object
 19  ranking_denominator                        121 non-null    object
 20  ranking_category                           121 non-null    object
 21  ranking_subcategory                        121 non-null    object
 22  subcategory_ranking                        121 non-null    object
 23  ranking                                    121 non-null    object
 24  distance                                   0 non-null      object
 25  distance_string                            0 non-null      object
 26  bearing                                    0 non-null      object
 27  rating                                     120 non-null    object
 28  is_closed                                  142 non-null    bool
 29  is_long_closed                             142 non-null    bool
 30  description                                142 non-null    object
 31  web_url                                    142 non-null    object
 32  write_review                               142 non-null    object
 33  ancestors                                  142 non-null    object
 34  category                                   142 non-null    object
 35  subcategory                                142 non-null    object
 36  parent_display_name                        142 non-null    object
 37  is_jfy_enabled                             142 non-null    bool
 38  nearest_metro_station                      142 non-null    object
 39  address_obj                                142 non-null    object
 40  address                                    142 non-null    object
 41  is_candidate_for_contact_info_suppression  142 non-null    bool
 42  subtype                                    142 non-null    object
 43  tags                                       142 non-null    object
 44  reviews                                    142 non-null    object
 45  website                                    61 non-null     object
 46  phone                                      71 non-null     object
 47  animal_welfare_tag                         12 non-null     object
 48  open_now_text                              24 non-null     object
 49  email                                      33 non-null     object
 50  hours                                      24 non-null     object
 51  machine_translated                         15 non-null     object
 52  translation_vendor                         4 non-null      object
 53  booking                                    1 non-null      object
 54  offer_group                                1 non-null      object
 55  fee                                        1 non-null      object
dtypes: bool(4), object(52)
memory usage: 59.4+ KB

In [5]:
df.head()

,type,image,location_id,name,latitude,longitude,num_reviews,timezone,location_string,photo,...,phone,animal_welfare_tag,open_now_text,email,hours,machine_translated,translation_vendor,booking,offer_group,fee
0,ATTRACTION,https://media-cdn.tripadvisor.com/media/photo-...,8670794,Manggar Segarasari Beach,-1.212555,116.98106,32,Asia/Makassar,"Balikpapan, East Kalimantan, Kalimantan","{'images': {'small': {'width': '150', 'url': '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ATTRACTION,https://media-cdn.tripadvisor.com/media/photo-...,10112099,Transmart Carrefour,-1.25746,116.86833,23,Asia/Makassar,"Balikpapan, East Kalimantan, Kalimantan","{'images': {'small': {'width': '150', 'url': '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ATTRACTION,https://media-cdn.tripadvisor.com/media/photo-...,6912361,Bangkirai Hill Nature Tourism,-1.02911,116.86728,142,Asia/Makassar,"Balikpapan, East Kalimantan, Kalimantan","{'images': {'small': {'width': '150', 'url': '...",...,+62 813-5499-9386,"{'tag_text': 'Features Animals', 'msg_header':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ATTRACTION,https://media-cdn.tripadvisor.com/media/photo-...,6601179,Benua Patra Beach,-1.27139,116.85344,49,Asia/Makassar,"Balikpapan, East Kalimantan, Kalimantan","{'images': {'small': {'width': '150', 'url': '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ATTRACTION,https://media-cdn.tripadvisor.com/media/photo-...,9859516,Pentacity Shopping Venue,-1.277344,116.83002,31,Asia/Makassar,"Balikpapan, East Kalimantan, Kalimantan","{'images': {'small': {'width': '250', 'url': '...",...,+62 542 8520555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df['city'] = df['address_obj'].apply(lambda x: x['city'])
new_df = df[
        ['name','address','city']
    ]

In [14]:
new_df.head()

,name,address,city
0,Manggar Segarasari Beach,Balikpapan Indonesia,Balikpapan
1,Transmart Carrefour,"Jl. MT. Haryono, Balikpapan 76126 Indonesia",Balikpapan
2,Bangkirai Hill Nature Tourism,"Bukit Bangkirai, Balikpapan 75271 Indonesia",Balikpapan
3,Benua Patra Beach,"Jln. Jendral Sudirman, Balikpapan 76112 Indonesia",Balikpapan
4,Pentacity Shopping Venue,"Jln. Jendral Sudirman no. 47, Balikpapan 76114...",Balikpapan