In [1]:
from dotenv import load_dotenv
import os
import pandas as pd

In [6]:
# Memuat variabel lingkungan dari file .env
load_dotenv()

# Mengakses variabel lingkungan yang diatur dalam file .env
project_path = os.getenv("PROJECT_FOLDER")
dataset_folder = 'data/raw_data/trip_advisor/excel'

In [8]:
# List of dataset files
files = [
    f"{project_path}/{dataset_folder}/balikpapan/balikpapan_todo.xlsx",
    f"{project_path}/{dataset_folder}/penajam/penajam_todo.xlsx",
    f"{project_path}/{dataset_folder}/samarinda/samarinda_todo.xlsx",
]

# Read and concatenate all datasets into a single DataFrame
df = pd.concat([pd.read_excel(file) for file in files])

In [9]:
# Basic statistics
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])
print()

# Check missing values
print("Missing values:")
print(df.isnull().sum())
print()

# Data types of each column
print("Data types:")
print(df.dtypes)
print()

# Statistical summary
print("Statistical summary:")
print(df.describe())
print()

Number of rows: 102
Number of columns: 321

Missing values:
address                     0
address_obj/city            0
address_obj/country         0
address_obj/postalcode     30
address_obj/state         102
                         ...
type                        0
web_url                     0
website                    51
write_review                0
fee                       101
Length: 321, dtype: int64

Data types:
address                    object
address_obj/city           object
address_obj/country        object
address_obj/postalcode    float64
address_obj/state         float64
                           ...
type                       object
web_url                    object
website                    object
write_review               object
fee                        object
Length: 321, dtype: object

Statistical summary:
       address_obj/postalcode  address_obj/state  ancestors/0/abbrv
count               72.000000                0.0                0.0  \
mean             73838.430556                NaN                NaN
std              10374.217054                NaN                NaN
min               9215.000000                NaN                NaN
25%              75126.000000                NaN                NaN
50%              76111.500000                NaN                NaN
75%              76115.000000                NaN                NaN
max              76142.000000                NaN                NaN

       ancestors/0/location_id  ancestors/1/abbrv  ancestors/1/location_id
count             1.020000e+02                0.0                    102.0  \
mean              4.734458e+05                NaN                2301802.0
std               1.110986e+06                NaN                      0.0
min               3.171000e+05                NaN                2301802.0
25%               3.171000e+05                NaN                2301802.0
50%               3.171000e+05                NaN                2301802.0
75%               3.171020e+05                NaN                2301802.0
max               8.290699e+06                NaN                2301802.0

       ancestors/2/abbrv  ancestors/2/location_id  ancestors/3/abbrv
count                0.0                    102.0                0.0  \
mean                 NaN                 294227.0                NaN
std                  NaN                      0.0                NaN
min                  NaN                 294227.0                NaN
25%                  NaN                 294227.0                NaN
50%                  NaN                 294227.0                NaN
75%                  NaN                 294227.0                NaN
max                  NaN                 294227.0                NaN

       ancestors/3/location_id  ...  subcategory/3/key  subcategory/4/key
count                    102.0  ...           4.000000           3.000000  \
mean                  294225.0  ...          56.500000          58.666667
std                        0.0  ...           4.434712           2.516611
min                   294225.0  ...          51.000000          56.000000
25%                   294225.0  ...          54.000000          57.500000
50%                   294225.0  ...          57.000000          59.000000
75%                   294225.0  ...          59.500000          60.000000
max                   294225.0  ...          61.000000          61.000000

       subcategory/5/key  subtype/0/key  subtype/1/key  subtype/2/key
count           2.000000     102.000000      28.000000      15.000000  \
mean           60.000000     119.539216     143.964286     170.266667
std             1.414214      73.420351      76.799152      67.284541
min            59.000000       5.000000       5.000000      63.000000
25%            59.500000      57.000000      83.000000     118.500000
50%            60.000000     124.500000     143.500000     182.000000
75%            60.500000     162.750000     191.250000     229.500000
max            61.000000     288.000000     288.000000     255.000000

       subtype/3/key  subtype/4/key  subtype/5/key  subtype/6/key
count       8.000000       7.000000       3.000000            1.0
mean      227.875000     216.142857     235.333333          269.0
std        11.605879      44.536235      52.519838            NaN
min       203.000000     139.000000     182.000000          269.0
25%       223.750000     206.000000     209.500000          269.0
50%       235.000000     220.000000     237.000000          269.0
75%       235.000000     227.500000     262.000000          269.0
max       235.000000     287.000000     287.000000          269.0

[8 rows x 106 columns]

In [10]:
df.shape

(102, 321)

In [11]:
df.head()

,address,address_obj/city,address_obj/country,address_obj/postalcode,address_obj/state,address_obj/street1,address_obj/street2,ancestors/0/abbrv,ancestors/0/location_id,ancestors/0/name,...,tags/animal_welfare_tag/msg_body,tags/animal_welfare_tag/msg_header,tags/animal_welfare_tag/tag_text,timezone,translation_vendor,type,web_url,website,write_review,fee
0,"Perumahan Graha indah, Balikpapan Indonesia",Balikpapan,Indonesia,NaN,NaN,Perumahan Graha indah,NaN,NaN,317100,Balikpapan,...,Click below for expert advice on animal welfar...,This attraction features animals,Features Animals,Asia/Makassar,NaN,ATTRACTION,https://www.tripadvisor.com/Attraction_Review-...,http://www.balitek-ksda.or.id,https://www.tripadvisor.com/UserReview-g317100...,NaN
1,"Jln. Mulawarman, Balikpapan 76115 Indonesia",Balikpapan,Indonesia,76115.0,NaN,Jln. Mulawarman,NaN,NaN,317100,Balikpapan,...,NaN,NaN,NaN,Asia/Makassar,NaN,ATTRACTION,https://www.tripadvisor.com/Attraction_Review-...,NaN,https://www.tripadvisor.com/UserReview-g317100...,NaN
2,Balikpapan Indonesia,Balikpapan,Indonesia,NaN,NaN,NaN,NaN,NaN,317100,Balikpapan,...,NaN,NaN,NaN,Asia/Makassar,NaN,ATTRACTION,https://www.tripadvisor.com/Attraction_Review-...,NaN,https://www.tripadvisor.com/UserReview-g317100...,NaN
3,"Jln. Jendral Sudirman, Balikpapan 76112 Indonesia",Balikpapan,Indonesia,76112.0,NaN,Jln. Jendral Sudirman,NaN,NaN,317100,Balikpapan,...,NaN,NaN,NaN,Asia/Makassar,NaN,ATTRACTION,https://www.tripadvisor.com/Attraction_Review-...,NaN,https://www.tripadvisor.com/UserReview-g317100...,NaN
4,"Jln. Jendral Sudirman no. 47, Balikpapan 76114...",Balikpapan,Indonesia,76114.0,NaN,Jln. Jendral Sudirman no. 47,NaN,NaN,317100,Balikpapan,...,NaN,NaN,NaN,Asia/Makassar,NaN,ATTRACTION,https://www.tripadvisor.com/Attraction_Review-...,http://pentacity-bsb.com/,https://www.tripadvisor.com/UserReview-g317100...,NaN

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 102 entries, 0 to 36
Columns: 321 entries, address to fee
dtypes: bool(4), float64(98), int64(8), object(211)
memory usage: 253.8+ KB
None