In [27]:
from dotenv import load_dotenv
import os
import pandas as pd

In [28]:
# Memuat variabel lingkungan dari file .env
load_dotenv()

# Mengakses variabel lingkungan yang diatur dalam file .env
project_path = os.getenv("PROJECT_FOLDER")
dataset_folder = 'data/raw_data/trip_advisor/balikpapan'

In [29]:
# List of dataset files
files = [
    f"{project_path}/{dataset_folder}/dataset_free-tripadvisor_2023-05-20_16-17-23-061.csv",
    f"{project_path}/{dataset_folder}/dataset_free-tripadvisor_2023-05-20_16-19-56-104.csv",
    f"{project_path}/{dataset_folder}/dataset_free-tripadvisor_2023-05-20_16-23-56-695.csv",
    f"{project_path}/{dataset_folder}/dataset_free-tripadvisor_2023-05-20_16-27-32-877.csv",
    f"{project_path}/{dataset_folder}/dataset_free-tripadvisor_2023-05-20_16-30-04-829.csv"
]

# Read and concatenate all datasets into a single DataFrame
dataframes = []
for file in files:
    df = pd.read_csv(file)
    dataframes.append(df)
    
df = pd.concat(dataframes)

In [30]:
# Basic statistics
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])
print()

# Check missing values
print("Missing values:")
print(df.isnull().sum())
print()

# Data types of each column
print("Data types:")
print(df.dtypes)
print()

# Statistical summary
print("Statistical summary:")
print(df.describe())
print()

Number of rows: 426
Number of columns: 215

Missing values:
address                               0
category                            128
cuisine/0                           304
cuisine/1                           330
cuisine/2                           368
                                   ...
tags/animal_welfare_tag/tag_text    421
timezone                            300
translation_vendor                  424
web_url                             300
write_review                        300
Length: 215, dtype: int64

Data types:
address                             object
category                            object
cuisine/0                           object
cuisine/1                           object
cuisine/2                           object
                                     ...
tags/animal_welfare_tag/tag_text    object
timezone                            object
translation_vendor                  object
web_url                             object
write_review                        object
Length: 215, dtype: object

Statistical summary:
       hotelClass  hours/0/0/close  hours/0/0/open  hours/0/1/close
count  150.000000        42.000000       42.000000              3.0  \
mean     1.653333      1320.666667      610.714286           1350.0
std      1.679872       173.317932      222.616293              0.0
min      0.000000       870.000000        0.000000           1350.0
25%      0.000000      1320.000000      540.000000           1350.0
50%      2.000000      1320.000000      600.000000           1350.0
75%      3.000000      1402.500000      682.500000           1350.0
max      5.000000      1560.000000     1020.000000           1350.0

       hours/0/1/open  hours/1/0/close  hours/1/0/open  hours/1/1/close
count             3.0        38.000000       38.000000              3.0  \
mean           1080.0      1334.157895      605.526316           1350.0
std               0.0       160.497963      214.623459              0.0
min            1080.0       870.000000        0.000000           1350.0
25%            1080.0      1320.000000      540.000000           1350.0
50%            1080.0      1320.000000      600.000000           1350.0
75%            1080.0      1431.750000      660.000000           1350.0
max            1080.0      1560.000000     1020.000000           1350.0

       hours/1/1/open  hours/2/0/close  ...  subcategory/3/key
count             3.0        38.000000  ...           4.000000  \
mean           1080.0      1337.315789  ...          53.000000
std               0.0       160.785925  ...           2.309401
min            1080.0       870.000000  ...          51.000000
25%            1080.0      1320.000000  ...          51.000000
50%            1080.0      1320.000000  ...          53.000000
75%            1080.0      1431.750000  ...          55.000000
max            1080.0      1560.000000  ...          55.000000

       subcategory/4/key  subcategory/5/key  subtype/0/key  subtype/1/key
count           4.000000           4.000000     126.000000      38.000000  \
mean           57.500000          60.000000     117.920635     141.526316
std             1.732051           1.154701      81.331382      87.323176
min            56.000000          59.000000       5.000000       5.000000
25%            56.000000          59.000000      52.000000      81.500000
50%            57.500000          60.000000     118.000000     143.000000
75%            59.000000          61.000000     163.000000     222.000000
max            59.000000          61.000000     288.000000     288.000000

       subtype/2/key  subtype/3/key  subtype/4/key  subtype/5/key
count      20.000000      10.000000       8.000000       4.000000  \
mean      164.900000     223.600000     216.750000     234.500000
std        68.030102      12.465062      16.148861      60.621778
min        63.000000     203.000000     193.000000     182.000000
25%        99.000000     220.000000     212.500000     182.000000
50%       174.500000     225.000000     219.500000     234.500000
75%       235.000000     235.000000     223.750000     287.000000
max       241.000000     235.000000     235.000000     287.000000

       subtype/6/key
count            2.0
mean           269.0
std              0.0
min            269.0
25%            269.0
50%            269.0
75%            269.0
max            269.0

[8 rows x 100 columns]

In [39]:
df.shape

(426, 215)

In [31]:
df.head()

,address,category,cuisine/0,cuisine/1,cuisine/2,cuisine/3,cuisine/4,cuisine/5,cuisine/6,cuisine/7,...,subtype/6/name,tags/animal_welfare_tag/education_portal_url,tags/animal_welfare_tag/learn_more_text,tags/animal_welfare_tag/msg_body,tags/animal_welfare_tag/msg_header,tags/animal_welfare_tag/tag_text,timezone,translation_vendor,web_url,write_review
0,"Jln. Soekarno Hatta No. 28, Balikpapan 76125 I...",hotel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Jl. Mayjen Sutoyo no. 67, Balikpapan 76122 Ind...",hotel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Jl. MT. Haryono no. 78 Daerah DAM, Belakang Ha...",hotel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jalan Jenderal Sudirman Balikpapan Ocean Squar...,hotel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Jln. Marsma Iswahyadi No. 21, Balikpapan 76115...",hotel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 426 entries, 0 to 99
Columns: 215 entries, address to write_review
dtypes: float64(100), object(115)
memory usage: 718.9+ KB
None