In [8]:
import pandas as pd

# Membaca data dari file CSV
data = pd.read_csv("D:/PROJECT/machine-learning/recomendation_system1/data/raw_data/tourism/tourism_with_id.csv")

In [9]:
print(data.shape)

(437, 13)

In [10]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Place_Id      437 non-null    int64
 1   Place_Name    437 non-null    object
 2   Description   437 non-null    object
 3   Category      437 non-null    object
 4   City          437 non-null    object
 5   Price         437 non-null    int64
 6   Rating        437 non-null    float64
 7   Time_Minutes  205 non-null    float64
 8   Coordinate    437 non-null    object
 9   Lat           437 non-null    float64
 10  Long          437 non-null    float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   437 non-null    int64
dtypes: float64(5), int64(3), object(5)
memory usage: 44.5+ KB
None

In [11]:
print(data.describe())

         Place_Id          Price      Rating  Time_Minutes         Lat  \
count  437.000000     437.000000  437.000000    205.000000  437.000000
mean   219.000000   24652.173913    4.442792     82.609756   -7.095438
std    126.295289   66446.374709    0.208587     52.872339    0.727241
min      1.000000       0.000000    3.400000     10.000000   -8.197894
25%    110.000000       0.000000    4.300000     45.000000   -7.749590
50%    219.000000    5000.000000    4.500000     60.000000   -7.020524
75%    328.000000   20000.000000    4.600000    120.000000   -6.829411
max    437.000000  900000.000000    5.000000    360.000000    1.078880

             Long  Unnamed: 11  Unnamed: 12
count  437.000000          0.0   437.000000
mean   109.160142          NaN   219.000000
std      1.962848          NaN   126.295289
min    103.931398          NaN     1.000000
25%    107.578369          NaN   110.000000
50%    110.237468          NaN   219.000000
75%    110.431869          NaN   328.000000
max    112.821662          NaN   437.000000

In [12]:
print(data.nunique())

Place_Id        437
Place_Name      437
Description     437
Category          6
City              5
Price            50
Rating           14
Time_Minutes     15
Coordinate      437
Lat             437
Long            437
Unnamed: 11       0
Unnamed: 12     437
dtype: int64

In [13]:
print(data['Category'].unique())

['Budaya' 'Taman Hiburan' 'Cagar Alam' 'Bahari' 'Pusat Perbelanjaan'
 'Tempat Ibadah']

In [14]:
print(data['Category'].value_counts())

Taman Hiburan         135
Budaya                117
Cagar Alam            106
Bahari                 47
Tempat Ibadah          17
Pusat Perbelanjaan     15
Name: Category, dtype: int64

In [17]:
print(data['City'].unique())

['Jakarta' 'Yogyakarta' 'Bandung' 'Semarang' 'Surabaya']

In [18]:
print(data['City'].value_counts())

Yogyakarta    126
Bandung       124
Jakarta        84
Semarang       57
Surabaya       46
Name: City, dtype: int64

In [15]:
print(data.isnull().sum())

Place_Id          0
Place_Name        0
Description       0
Category          0
City              0
Price             0
Rating            0
Time_Minutes    232
Coordinate        0
Lat               0
Long              0
Unnamed: 11     437
Unnamed: 12       0
dtype: int64

In [16]:
print(data['Rating'].mean())

4.442791762013733