In [1]:
from dotenv import load_dotenv
import os
import pandas as pd

In [2]:
# Memuat variabel lingkungan dari file .env
load_dotenv()

# Mengakses variabel lingkungan yang diatur dalam file .env
project_path = os.getenv("PROJECT_FOLDER")
dataset_folder = 'data/raw_data/trip_advisor/excel'

In [3]:
# List of dataset files
files = [
    f"{project_path}/{dataset_folder}/balikpapan/balikpapan_todo.xlsx",
    f"{project_path}/{dataset_folder}/penajam/penajam_todo.xlsx",
    f"{project_path}/{dataset_folder}/samarinda/samarinda_todo.xlsx",
]

# Read and concatenate all datasets into a single DataFrame
df = pd.concat([pd.read_excel(file) for file in files])

In [4]:
df.shape

(102, 321)

In [1]:
df.head()

NameError: name 'df' is not defined

In [24]:
new_df = df[['address', 'address_obj/city']].rename(
        columns={'address_obj/city': 'city'}
    )

In [25]:
new_df.head()

                                             address        city
0        Perumahan Graha indah, Balikpapan Indonesia  Balikpapan
1        Jln. Mulawarman, Balikpapan 76115 Indonesia  Balikpapan
2                               Balikpapan Indonesia  Balikpapan
3  Jln. Jendral Sudirman, Balikpapan 76112 Indonesia  Balikpapan
4  Jln. Jendral Sudirman no. 47, Balikpapan 76114...  Balikpapan